#
# http://team.ops4j.org/wiki/display/paxurl/Mvn+Protocol
#

# ignore ssl certificate mismatch
org.ops4j.pax.url.mvn.certificateCheck=false

# use custom settings
org.ops4j.pax.url.mvn.settings=${karaf.home}/etc/maven-settings.xml

# force known location
org.ops4j.pax.url.mvn.localRepository=${user.home}/.m2/repository

# use "karaf-*" pattern in @id to see what/where is coming from
org.ops4j.pax.url.mvn.repositories = \
	http://repo1.maven.org/maven2@id=karaf-central, \
    http://repository.apache.org/content/groups/snapshots-group@id=karaf-apache-snapshots@snapshots@noreleases, \
    http://oss.sonatype.org/content/groups/public/@id=karaf-sonatype, \
    file:${karaf.home}/${karaf.default.repository}@id=karaf-system, \
    file:${karaf.data}/kar@id=karaf-kar@multi


# XXX
#org.ops4j.pax.url.mvn.useFallbackRepositories=false

# XXX
#org.ops4j.pax.url.mvn.proxySupport=false

# XXX
#org.ops4j.pax.url.mvn.disableAether=false

# XXX
#org.ops4j.pax.url.mvn.defaultLocalRepoAsRemote=false
