<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--

    Copyright (C) 2010-2012 Andrei Pozolotin <Andrei.Pozolotin@gmail.com>

    All rights reserved. Licensed under the OSI BSD License.

    http://www.opensource.org/licenses/bsd-license.php

-->
<features xmlns="http://karaf.apache.org/xmlns/features/v1.0.0" name="spring-3.0.0-SNAPSHOT">
    <feature resolver="(obr)" description="Spring support" version="3.1.2.RELEASE" name="spring">
        <details>Spring Support</details>
        <bundle dependency="true" start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_5</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-core/3.1.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-asm/3.1.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-expression/3.1.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-beans/3.1.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-aop/3.1.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-context/3.1.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-context-support/3.1.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.apache.karaf.deployer/org.apache.karaf.deployer.spring/3.0.0-SNAPSHOT</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring AOP support" version="3.1.2.RELEASE" name="spring-aspects">
        <feature version="3.1.2.RELEASE">spring</feature>
        <bundle start-level="30">mvn:org.springframework/spring-aspects/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring DM support" version="1.2.1" name="spring-dm">
        <feature version="[2.5.6,4)">spring</feature>
        <bundle dependency="true" start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.cglib/2.1_3_7</bundle>
        <bundle start-level="30">mvn:org.springframework.osgi/spring-osgi-io/1.2.1</bundle>
        <bundle start-level="30">mvn:org.springframework.osgi/spring-osgi-core/1.2.1</bundle>
        <bundle start-level="30">mvn:org.springframework.osgi/spring-osgi-extender/1.2.1</bundle>
        <bundle start-level="30">mvn:org.springframework.osgi/spring-osgi-annotation/1.2.1</bundle>
        <bundle start-level="30">mvn:org.apache.karaf.deployer/org.apache.karaf.deployer.spring/3.0.0-SNAPSHOT</bundle>
        <bundle start-level="30">mvn:org.apache.karaf.bundle/org.apache.karaf.bundle.springstate/3.0.0-SNAPSHOT</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring DM Web support" version="1.2.1" name="spring-dm-web">
        <feature version="1.2.1">spring-dm</feature>
        <feature version="[2.5.6,4)">spring-web</feature>
        <feature version="3.0.0-SNAPSHOT">http</feature>
        <bundle start-level="30">mvn:org.springframework.osgi/spring-osgi-web/1.2.1</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring Instrument support" version="3.1.2.RELEASE" name="spring-instrument">
        <feature version="3.1.2.RELEASE">spring</feature>
        <bundle start-level="30">mvn:org.springframework/spring-instrument/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring JDBC support" version="3.1.2.RELEASE" name="spring-jdbc">
        <feature version="3.1.2.RELEASE">spring-tx</feature>
        <bundle start-level="30">mvn:org.springframework/spring-jdbc/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring JMS support" version="3.1.2.RELEASE" name="spring-jms">
        <feature version="3.1.2.RELEASE">spring-web</feature>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-jms/3.1.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-tx/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring Struts support" version="3.1.2.RELEASE" name="spring-struts">
        <feature version="3.1.2.RELEASE">spring-web</feature>
        <bundle dependency="true" start-level="30">mvn:commons-beanutils/commons-beanutils/1.8.3</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-struts/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring Test support" version="3.1.2.RELEASE" name="spring-test">
        <feature version="3.1.2.RELEASE">spring</feature>
        <bundle start-level="30">mvn:org.springframework/spring-test/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring ORM support" version="3.1.2.RELEASE" name="spring-orm">
        <feature version="3.1.2.RELEASE">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.springframework/spring-orm/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring OXM support" version="3.1.2.RELEASE" name="spring-oxm">
        <feature version="3.1.2.RELEASE">spring</feature>
        <bundle start-level="30">mvn:org.springframework/spring-oxm/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring Transaction (TX) support" version="3.1.2.RELEASE" name="spring-tx">
        <feature version="3.1.2.RELEASE">spring</feature>
        <bundle start-level="30">mvn:org.springframework/spring-tx/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring Web support" version="3.1.2.RELEASE" name="spring-web">
        <feature version="3.1.2.RELEASE">spring</feature>
        <feature version="3.0.0-SNAPSHOT">http</feature>
        <bundle start-level="30">mvn:org.springframework/spring-web/3.1.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-webmvc/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Spring Web Portlet support" version="3.1.2.RELEASE" name="spring-web-portlet">
        <feature version="3.1.2.RELEASE">spring-web</feature>
        <bundle start-level="30">mvn:org.springframework/spring-webmvc-portlet/3.1.2.RELEASE</bundle>
    </feature>
    <feature resolver="(obr)" description="Gemini Blueprint Extender" version="1.0.0.RELEASE" name="gemini-blueprint">
        <feature version="3.1.2.RELEASE">spring</feature>
        <bundle start-level="30">mvn:org.eclipse.gemini.blueprint/gemini-blueprint-io/1.0.0.RELEASE</bundle>
        <bundle start-level="30">mvn:org.eclipse.gemini.blueprint/gemini-blueprint-core/1.0.0.RELEASE</bundle>
        <bundle start-level="30">mvn:org.eclipse.gemini.blueprint/gemini-blueprint-extender/1.0.0.RELEASE</bundle>
    </feature>
</features>
